@font-face {
	font-family: NeueHaasGrotesk;
	src: url("http://localhost/vincentsjogren.com/public/fonts/NHaasGroteskTXPro-55Rg.otf")
		format("opentype");
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
html,
body {
	height: 100vh;
	height: calc(100vh - calc(100vh - 100%));
	width: 100vw;
	width: calc(100vw - calc(100vw - 100%));
	background: rgba(25, 25, 25);
	color: white;
}
a {
	color: rgb(25, 25, 25);
	text-decoration: none;
}
.page-wrapper {
	background: transparent;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
}
.mail-link {
	position: relative;
	z-index: 10;
	border-radius: 10px;
	padding: 15px 20px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	outline: none;
	transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
	background: rgba(0, 0, 0, 0);
	border: 2px solid rgba(0, 0, 0, 0);
}
.mail-link p {
	font-family: NeueHaasGrotesk, Arial, Helvetica, sans-serif;
	font-size: 24px;
	user-select: none;
}
.mail-link:hover,
.mail-link:focus,
.mail-link:active {
	background: rgba(0, 0, 0, 0.6);
}
.mail-link:focus {
	border-color: white;
}
.carousel {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}
.slider {
	height: 100%;
	width: 500%;
	flex-shrink: 0;
	position: relative;
	left: -200vw;
	transform: translateX(0);
	display: inline-flex;
}
.slide {
	width: 20%;
	height: 100%;
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity 200ms ease-in-out;
	opacity: 0;
}
.touch-area {
	position: absolute;
	top: 0;
	z-index: 5;
	width: 50%;
	height: 100%;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
.touch-area.show {
	opacity: 1;
}
.touch-area img {
	opacity: 0.8;
	-webkit-touch-callout: none; /* Safari */
	-webkit-user-select: none; /* Chrome */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	margin: 10px;
}
.touch-area.left {
	left: 0;
	align-items: flex-start;
}
.touch-area.right {
	left: 50%;
	align-items: flex-end;
}
