Options -Multiviews
RewriteEngine On
RewriteBase /public/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(css|img|fonts|js|favicon)
RewriteRule  ^(.+)$ index.html?uri=$1 [co=SameSite:Strict] [QSA,L]